

/*   .select2-contenedor div{
    margin-left: 8px;
  }
 

  .select2-container--open {
    z-index: 99999999999999;
    }
  



    .select2-selection{
        z-index: 9999999;
        border: 1px solid #cccccc;
        border-radius: 5px;

    } */